
@font-face {
  -font-family: "Ketchum";
  src: url("../font/Ketchum.otf");
}

.card{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 10;
    -fx-background-image: url("../img/bottom.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center bottom;
    -fx-background-size:contain;
}

.number{
    -fx-font-weight: bold;
    -fx-text-fill: grey;
}

.name{
    -fx-font-family: "Ketchum";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: BLACK;
}

.icon{
    -fx-fill: linear-gradient(#C62828 50%, #263238 50%);
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #FFF;
    -fx-text-fill: BLACK;
}

.list-cell {
    -fx-text-fill: black;
}
.list-cell:odd {
    -fx-background-color: white;
    -fx-text-fill: BLACK;
}

.list-cell:even {
    -fx-background-color: white;
    -fx-text-fill: BLACK;
}

.list-cell:filled:hover {
    -fx-background-color: #FFF;
    -fx-text-fill: BLACK;
}

/* TIPOS DE POKEMON*/

.default{
    -fx-background-color: rgba(0, 0, 0, 0.42);
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.fire{
    -fx-background-color: #fd7d24;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.plant{
    -fx-background-color: #9bcc50;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.poison{
    -fx-background-color: #b97fc9;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.flying{
    -fx-background-color: linear-gradient(#3dc7ef 50%, #bdb9b8 50%);
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.ice{
    -fx-background-color: #51c4e7;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.psychic {
    -fx-background-color: #f366b9;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.ground{
    -fx-background-color: linear-gradient(#f7de3f 50%, #ab9842 50%);
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.water{
    -fx-background-color: #4592c4;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.rock{
    -fx-background-color: #a38c21;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.insect{
    -fx-background-color: #729f3f;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.normal{
    -fx-background-color: #a4acaf;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.fairy{
    -fx-background-color: #fdb9e9;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.electric{
    -fx-background-color: #eed535;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.fight{
    -fx-background-color: #d56723;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.steel{
    -fx-background-color: #9eb7b8;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.ghost {
    -fx-background-color: #7b62a3;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

/*==================================*/