.card {
    -fx-background-color: #FFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-radius: 10;
}

.name {
    -fx-text-fill: #313131;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.number {
    -fx-font-weight: bold;
    -fx-text-fill: grey;
    -fx-font-family: "Flexo-Regular", arial, sans-serif;
}

.icon {
    -fx-fill: linear-gradient(#f00000 50%, #222224 50%);
}

/*Tipos de Pokémon*/
.fire {
    -fx-background-color: #FD7D24;
    -fx-text-fill: white;
    -fx-background-radius: 3;
}

.grass {
    -fx-background-color: #9BCC50;
    -fx-text-fill: white;
    -fx-background-radius: 3;
}

.poison {
    -fx-background-color: #B97FC9;
    -fx-text-fill: white;
    -fx-background-radius: 3;
}

.flying {
    -fx-background-color: linear-gradient(#3dc7ef 50%, #bdb9b8 50%);
    -fx-text-fill: white;
    -fx-background-radius: 3;
}

.ice {
    -fx-background-color: #51c4e7;
    -fx-text-fill: white;
    -fx-background-radius: 3;
}

.psychic {
    -fx-background-color: #f366b9;
    -fx-text-fill: white;
    -fx-background-radius: 3;
}

.ground {
    -fx-background-color: linear-gradient(#f7de3f 50%, #ab9842 50%);
    -fx-text-fill: white;
    -fx-background-radius: 3;
}

.rock {
    -fx-background-color: #a38c21;
    -fx-text-fill: white;
    -fx-background-radius: 3;
}

.water {
    -fx-background-color: #4592c4;
    -fx-text-fill: white;
    -fx-background-radius: 3;
}

/*Lista */
.list-cell:even{
    -fx-background-color: #FFFF;
}
.list-cell:filled:hover {
    -fx-background-color: #FFFF;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #FFFF;
}

.list-cell:odd {
    -fx-background-color: #FFFF;
}

